upload_max_filesize=64M
post_max_size=64M 

;PHPStorm
[Xdebug]
xdebug.remote_enable=1
xdebug.idekey=PHPSTORM
xdebug.profiler_enable=0
xdebug.max_nesting_level=700
xdebug.remote_host=localhost # your ip
xdebug.remote_port=9000
